@import '../../../styles/base/functions';
@import '../../../styles/base/mixins';
@import '../../../styles/base/variables';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
    max-height: 100vh;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .cancelcontainer{
        @include flex(column);
        justify-content: center;
        align-items: center;;
        // background-color: green;
        margin: 15% 0; 

        img{
            width: pxArem(100);
        }
        p{
            font-size: pxArem(33);
        }
    
        a{
            text-decoration: none;
            color: white;

        }
        a:hover{
            color: black;
        }

    }
}
