@import 'base/functions';
@import 'base/mixins';
@import 'base/variables';

@import 'layout/header';
@import 'layout/main';
@import 'layout/success';
@import 'layout/cancel';

 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(6, 1, 43);
    max-height: 100vh;
 }